#left-menu-wrap {
    width: 265px;
    overflow: hidden;
    height: 400px;
    float: left;
    padding: 10px;
    padding-bottom: 60px;
    border-right: 1px solid;
    border-color: #6d6d6d;
    margin-left: -115px;
}

 #left-menu-wrap .menu {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    list-style-type: none;

}

 #left-menu-wrap .menu a {
    display:block;
    color:#282828;
    text-decoration:none;
    font-size:16px;
    line-height:32px;
    width: 200px;
    font-family: Helvetica,Arial,sans-serif;
}

 #left-menu-wrap .menu li{
    display: none;
    position:relative;
    left: 10px;
    width: 100%;
    margin:0;
    padding:0;
    font-size:16px;
}

#left-menu-wrap > .menu >li {
    text-transform: uppercase;
}

#left-menu-wrap .menu li li {
    
    margin-left: -30px
}

#left-menu-wrap .menu li li li {
    margin-left: 0px
}

 #left-menu-wrap .menu li.current-menu-item {
    display: block;
    text-decoration: none
}

 #left-menu-wrap .menu li.current-menu-item li{
    display: block;
    text-decoration: none;
}

 #left-menu-wrap .menu li.current-menu-item >ul {
    display: block;
    text-decoration: none;
}

#left-menu-wrap .menu ul ul li.current-menu-item{
    display: block;
    text-decoration: none;
}

 #left-menu-wrap .menu li.current-menu-item >a {
    text-decoration: underline;
    color: #6d6d6d;
 }

#left-menu-wrap .menu li a:hover {
    text-decoration: underline;
 }

#left-menu-wrap  .menu .current_page_ancestor {
   display: block;
   color: red
}

#left-menu-wrap  .menu .current_page_ancestor li{
   display: block;
}

ul.sub-menu a {
    font-size: 14px;
}

 #left-menu-wrap .menu li ul {
    
    position:relative;
    top:100%;
    list-style-type: none;
    transition: 1s;
}

 #left-menu-wrap .menu ul li {
    text-decoration: none;
    float:none;
}

 #left-menu-wrap .menu ul a {
    margin-left: 0px;
    font-size: 14px;
    line-height:120%;
    padding:10px 15px
}

#menu-main-menu-1 > li > a {
    text-transform: uppercase;
}

.fixed-left {
    position: fixed;
    top: 120px;
}


/**********      MEDIA QUERIES       **********/

@media only screen and (max-width: 1200px) {

    #left-menu-wrap {
        margin-left: -30px
    }
}

@media only screen and (max-width: 1000px) {

    #left-menu-wrap {
        display: none;
    }

    .text{
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .container{
        width: 100%;
    }
}











